$font-family: 'Roboto', sans-serif;

$content-root: '../';
$images-root: $content-root + 'images/';
$fonts-root: $content-root + 'fonts/';

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-ultraBold: 900;
