<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="employee.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Ny ansatt
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="Query">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <!--
                        <div class="container-fluid profile">
            -->
            <div id="ansattContainer" class="col-lg-2 col-md-2 col-sm-4 col-xs-6 profile"
                 ng-repeat="employee in vm.employees track by employee.id">
                <div class="img-box">
                    <div id="imgport" class="img-circle img-thumbnail">
                        <img data-ng-src="{{'data:' + employee.pictureContentType + ';base64,' + employee.picture}}" ng-if="employee.picture"/>
                    </div>
                    <img data-ng-src="{{'ansatt-profile' | profilePicture}}" ng-if="!employee.picture"/>
                    <ul class="text-center">
                        <li><a href="#" ui-sref="employee-detail({id:employee.id})"
                               class="glyphicon glyphicon-eye-open"></a></li>
                        <li><a href="#" ui-sref="employee.edit({id:employee.id})"
                               class="glyphicon glyphicon-pencil"></a></li>
                        <li><a href="#" ui-sref="employee.delete({id:employee.id})"
                               class="glyphicon glyphicon-remove-circle"></a></li>
                    </ul>
                </div>
                <h1>{{employee.firstName}} {{employee.lastName}}</h1>
                <h2>{{employee.employeeIdExternal}}</h2>
                <p>{{employee.email}} {{employee.phoneNumber}} {{employee.hiredDate | date:'mediumDate'}}
                    {{employee.hourlyRate}}</p>
            </div>
            <!--
                        </div>
            -->
        </div>
    </div>
    <br/>

</div>
</div>
