.form-horizontal {
    label {
        line-height: 34px;
        margin-bottom: 0;
        padding-top: 0 !important;
    }
}

.form-group {
    label {
        margin-bottom: 5px;
        color: $default-text;
        font-weight: $font-normal;
        font-size: 13px;
    }
}

.form-control {
    color: $default-text;
    @include placeholderStyle($default-text, 0.7);
    border: 1px solid $input-border;
    border-radius: 5px;
    background-color: $input-background;
    box-shadow: none;
    &:focus {
        box-shadow: none;
        border-color: $primary-bg;
        background: $input-background;
    }
}
