@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/mint';
@import 'theme/conf/variables';
@import "theme/_layout.scss";
@import 'theme/buttons.scss';
@import 'app/form.scss';


body {
    font: 14px/16px $font-family;
    color: $default-text;
    background-color: $body-bg;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.navbar-version {
    font-size: 10px;
    color: #ccc
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
    &:last {
        margin:0 !important;
    }
}
/* end Password strength bar style */
/* Custom alerts for notification */

.alerts {
    .alert {
        text-overflow: ellipsis;
        pre{
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > {
    tbody > tr > td {
        /* Align text in td verifically (top aligned by Bootstrap) */
        vertical-align: middle;
    }
    thead > tr > th > {
        .glyphicon-sort, .glyphicon-sort-by-attributes, .glyphicon-sort-by-attributes-alt {
            /* less visible sorting icons */
            opacity: 0.5;
            &:hover {
                /* full visible sorting icons and pointer when mouse is over them */
                opacity: 1;
                cursor: pointer;
            }
        }
    }
}
/* end of entity tables helpers */

/* ui bootstrap tweaks */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus{
    outline: none;
}
/* end of ui bootstrap tweaks */

$text-color: #ffffff;

.unauthenticated-body {
    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url($images-root + "blur-bg.jpg") no-repeat center center;
        background-size: cover;
        will-change: transform;
        z-index: -1;
    }
    height: 100%;
    width: 100%;
    position: absolute;
}

.auth-main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    @include bg-translucent-dark(0.55);
    color: #fff;
    padding: 32px;
    h1 {
        font-weight: $font-light;
        margin-bottom: 28px;
        text-align: center;
    }
    p {
        font-size: 16px;
        color: $primary;
    }
    a {
        text-decoration: none;
        outline: none;
        transition: all 0.2s ease;
        color: $primary;
        &:hover {
            color: $primary-dark;
        }
    }

    .control-label {
        padding-top: 11px;
        color: $text-color;
    }

    .form-group {
        margin-bottom: 12px;
    }
}

a.forgot-pass {
    display: block;
    text-align: right;
    float: right;
    z-index: 2;
    position: relative;
}

.auth-link {
    text-align: center;
    margin-bottom: 33px;
}

.btn-auth {
    color: #ffffff!important;
    margin-top: 30px;
}

.form-control, .form-control:focus {
    @include placeholderStyle($text-color, 0.9);
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    color: $text-color;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    @include placeholderStyle($text-color, 0.6);
}
